*.pyc
*.swp
*.wpr
*.bak
*.tmp
*.egg-info
*.fs
*.fs.index
*.fs.lock
extras
parts
eggs
var
.installed.cfg
.mr.developer.cfg
develop-eggs
bin/develop
bin/zylint
bin/buildout
bin/fsdump
bin/fsoids
bin/fsrefs
bin/fstail
bin/instance1
bin/instance2
bin/instance3
bin/instance-debug
bin/memcached
bin/mkzeoinst
bin/repozo
bin/runzeo
bin/server
bin/test
bin/zeoctl
bin/zeopack
bin/zeopasswd
bin/poundbuild
bin/poundcontrol
bin/poundctl
bin/poundrun
bin/zopepy
log
log/cleanup.log
log/update.log
log/cache.log
var/Data.fs.old
var/blobs
var/blobscache
