body {
  font-family:Arial,Helvetica,sans-serif;
  font-size:large;
}

img {
  border: none;
}

dl {
  background: #C8DCF2;
}

dt {
  font-weight: bold;
  background-color: transparent;
  padding: 0.5em;
}

dt a:hover {
  text-decoration: none;
  color: #f3b90b;
}

dd {
  margin: 0px;
  background-color: #FFFFFF;
  padding: 0.5em;
}

a {
  color:#4E7CB0;
  text-decoration:none;
}

a:hover {
  color:#4E7CB0;
  text-decoration:underline;
}

.tabs {
  background: none;
}

.tabs dt {
  background: #C8DCF2;
  border-bottom: 1px solid #4e7cb0;
}

.newsitem a:hover {
  color:#4E7CB0;
  text-decoration: underline;
}

.n-url {
  text-align: right;
}

.toolbar {
  clear: both;
}

.logo {
  width: 220px;
  height: 68px;
}

.favicon {
  width: 16px;
  height: 16px;
}
